* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 12px;
}

h1 {
    text-align: center;
    font-size: 4rem;
    opacity: 50%;
}

.container{
    border: 5px solid black;
    width: 80%;
    height: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    /*justify-content: principal. Align es el cruzado*/
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /*flex-flow: row wrap;*/
    /*align-content: center;*/
        
}

.box{
    width:200px;
    height:200px;
    border-radius: 10px;
    font-size: 4rem;
    text-align: center;
    flex-shrink: 1;
}

.uno{
    background-color: lightblue;
    flex-shrink: 3;
}

.dos{
    background-color: lightcoral;
    align-self: flex-start;
}

.tres{
    background-color: lightyellow;
    }

.cuatro{
    background-color: lightgreen;
}

.cinco{
    background-color: lightsalmon;
    
}

.seis{
    background-color: lightskyblue;
    
}